*{
    font-family: 'Montserrat', sans-serif;
}

.gradient-custom {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(71,152,38,0.5214460784313726) 0%, rgba(0,212,255,1) 100%);
}

.bg-dark-2 {
    background-color: #2D2D33;
}

